﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebSite/View/masterPage.Master" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="BiocoldProcess.WebSite.View.index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Bienvenue </h1>
    <form runat="server" name="form1">
        <div class="row">
            <div class="col-xs-5 col-md-5">



                <h2>Partenariat Biocold Process</h2>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Essais</button></p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Contrats</button></p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Service Biocold</button></p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Prest</button></p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Tarifs</button></p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Statistiques</button></p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Prévisionnel</button></p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Localisation</button></p>

            </div>
            <div class="col-xs-5 col-md-5">
                <img src="../images/logo_ok_bassedef.jpg" alt="logo" class="img-thumbnail" style="width: 500px;" />
            </div>
        </div>
    </form>
</asp:Content>

