﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebSite/View/masterPage.Master" AutoEventWireup="true" CodeBehind="ScriptSQL.aspx.cs" Inherits="BiocoldProcess.WebSite.View.Test.ScriptSQL" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <h1>Ajout des deux champs !</h1>

</asp:Content>
