﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebSite/View/masterPage.Master" AutoEventWireup="true" CodeBehind="TestWebService.aspx.cs" Inherits="BiocoldProcess.WebSite.View.Test.TestWebService" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <form method="post" name="form1" action="TestWebService.aspx">
        <h1>Test du web service</h1>
        <input name="TextBox1" placeholder="ID User" type="text"/>
        <input name="TextBox2" placeholder="Date" type="text"/>
        <input name="TextBox3" placeholder="ID Agent" type="text"/>
        <input name="TextBox4" placeholder="ID Essai" type="text"/>

        <input class="btn btn-success" ID="btn_Envoyer" Text="Envoyer" type="submit" />

        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    </form>
</asp:Content>
